.comunity-container {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    gap: 20px;
 
background: linear-gradient(90deg, rgba(8,35,61,1) 0%, rgba(19,39,62,1) 50%, rgba(10,60,74,1) 100%);
}

.comunity-title{
    text-align: center;
    font-size: 1.5em;
    color: whitesmoke;
}


.comunity-networks-span{
    color: whitesmoke;
}

.comunity-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comunity-right{
    display: flex;
    gap: 10px;
}
