.form-signup{
    background-color: black;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
}

.body-signup{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(32, 22, 26, 0.566), rgba(10, 8, 9, 0.75)), url(../../../public/images/dev5.png) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;

}

.signup-button-submit{
    width: 50%;
}

.signup-inputs{
    height: 2em;
    background-color: var(--background);
    color: whitesmoke;
    width: 70%;
}

.signup-title{
    color: whitesmoke;
}

.signup-input-container{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.form-signup-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.signup-button-submit{
    filter: invert(35%);
}

.signup-button-container{
    display: flex;
    justify-content: center;
}

.signup-form{
    display: flex;
    flex-direction: column;
}

.signup-form-container{
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}