.container-fluid{
    padding: 20px;
    background-color: #404258 ;
    background-image: url(../../../public/images/banner_example.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
.fondo-tras{
    background-color: rgba(0, 0, 0, 0.752);
        border-radius: 25px;
        padding: 5%;
        border-style: solid;
       border-width: 10px;
       border-color: gray;
}
.second-row{
    padding-top: 20px;
}

.carousel-home{
    margin: auto;
}