.fa-component{
    color:rgb(186, 194, 199);
}

.signup-icon,
.login-icon {
    width: 20px;
}

.logo-cocomu-logo {
    width: 80px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color:#2a394f ;
}
/**/