.fa-component{
    color:rgb(186, 194, 199);
    padding: 8px;
    border-radius: 15px;
}


.signup-icon,
.login-icon {
    width: 20px;
}

.signup-login-btn{
    width: 100%;
}

.logo-cocomu-logo {
    width: 80px;
}

.signup-login{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.navbar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: black ;
    border-bottom: 2px solid gray;
}




.navlink-profile:hover{
    .fa-person{
        background-color: whitesmoke;
    }
}


.fa-person{
    transform: scale(1.5);
}

