.container-info {
    background: linear-gradient(rgba(32, 22, 26, 0.566), rgba(10, 8, 9, 0.75)), url(../../../public/images/dev5.png) no-repeat center center fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    color: white;
    padding: 20px;

    .titulo-info {
        text-decoration: underline;
        font-family: fantasy;
        padding: 10px;
    }

    .fondo-tras {
        
        h2 {
            text-decoration: underline;
            font-family: cursive;
            padding: 10px;
        }

        p {
            padding: 10px;
        }
    }

    .video {
        img {
            width: 80%;
            border-radius: 50px;
        }
    }

    .tercera-row {

        justify-content: space-around;


    }
}



.tercera-row>div {
    width: 30%;
}